.main-slider-container{
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    align-items: center;
    #slider{
        width: 100%;
        height: 100%;
        white-space: nowrap;
        overflow-x: scroll;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }
    #slider::-webkit-scrollbar{
        display: none;
    }
    .left{
        position: absolute;
        border-radius: 100%;
        left: 10px;
        box-shadow: 2px 2px 2px 2px black;
        cursor: pointer;
    }
    .left:hover{
        background: white;
        opacity: 1;
    }
    .right{
        position: absolute;
        border-radius: 100%;
        box-shadow: 2px 2px 2px 2px black;
        right: 10px;
        cursor: pointer;
    }
    .right:hover{
        background: white;
        opacity: 1;
    }
    .slider-card{
        width: 450px;
        height: 300px;
        background: white;
        display: inline-block;
        margin: 5px 5px 0 5px;
        box-shadow: 1px 1px 1px 1px black;

        .slider-card-image{
            width: 450px;
            height: 300px;
            border: 2px solid black;
            background-color: rgb(240 240 240 /80%);
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
        }
        .slider-card-title{
            margin: 0 10em !important;
            background: $accent;
            color: white;
            padding: 7px;
        }
    }
    
}

.table{
    padding: 0 5em 2em 5em;
    h3{
        text-align: center;
        text-decoration: underline;
    }
    table{
        width: 100%;
        border-collapse: collapse;
        th{
            padding: 12px 0 12px 6px;
            text-align: left;
            background-color: $primary;
            color: white;
        }
        td, th{
            border: 1px solid #ddd;
            padding: 10px;
        }
        tr:nth-child(even){
            background-color: #f2f2f2;
        }
        tr:hover{
            background-color: #ddd;
        }
        .danger{
            color: red;
        }
    }
    @include maxwidth(mobile){
        padding: 0 1em 1em 1em !important;
    }
}