@import "../Styles/1_variables";

.breadcrumbs{
    padding: 2px;
    background-color: $primary2;
    #span{
        font-size: 35px;
        padding: 5em;
        color: white;
    }
    p{
        font-size: 20px;
        color: white;
        padding-left: 9em;
    }
    #catname{
        cursor: pointer;
    }
}
.text-center{
    text-align: center;
    font-weight: 700;
    line-height: 14px;
    font-size: 20px;
}
.displayImages{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 1em;
    position: relative;

    .imageContainer{
        width: 100%;
        border-radius: 2%;
        display: block;
        cursor: pointer;
        position: relative;
        .imageOverlay{
            position: absolute;
            z-index: 999;
            bottom: 18px;
            background: rgb(0, 0, 0);
            background: rgba($color: #000000, $alpha: .8);
            transition: 0.5 ease;
            opacity: 1;
            width: 410px;
            color: white;
            font-size: 20px;
            text-align: center;
            height: 20vh;
        }
    }
    .imageContainer:hover .imageOverlay{
        opacity: 1;
    }    
}

