@import "../Styles/1_variables";
@import "../Styles/0_mediaquery";

.breadcrumbs{
    padding: 2px;
    background-color: $primary;
    #span{
        font-size: 35px;
        padding: 5em;
        color: white;
    }
    p{
        font-size: 20px;
        color: white;
        padding-left: 9em;
    }
    #catname{
        cursor: pointer;
    }

    @include maxwidth(mobile){
        width: 100%;
        background: none !important;
        #span{
            font-size: 30px;
            padding: 0 !important;
        }
        p{
            padding-left: 1em;
            color: grey;
        }
    }
}
.text-center{
    text-align: center;
    font-weight: 700;
    line-height: 14px;
    font-size: 20px;
}
.displayImages{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 1em;
    position: relative;

    .imageContainer{
        width: 100%;
        border-radius: 2%;
        display: block;
        cursor: pointer;
        position: relative;
        .imageOverlay{
            position: absolute;
            bottom: 4px;
            background: rgb(0, 0, 0);
            background: rgba($color: #000000, $alpha: .8);
            transition: 0.5 ease;
            opacity: 0;
            width: 410px;
            color: white;
            font-size: 20px;
            text-align: center;
            height: 30vh;
        }
        @include maxwidth(mobile){
            .imageOverlay{
                width: 340px !important;
                height: 15vh;
                opacity: 1;
            }
        }
    }
    .imageContainer:hover .imageOverlay{
        opacity: 1;
        background: linear-gradient(to bottom, transparent, rgba($color: #000000, $alpha: 1) 70%);

    }
    .image{
        width: 410px;
        height: 400px;
    }   
    @include maxwidth(mobile){
        display: block !important;
        .image{
            width: 350px !important;
        }
        .imgOverlay{
            width: 350px !important;
        }
    } 
}

.variations{
    text-align: center;
    
}

