@import "./0_mediaquery";
@import "./1_variables";

.contents{
    // padding-bottom: 20px;
    padding: 0 0 0 5em;
    // margin-top: 15px;
    // width: 100%;
    h4{
        text-align: center;
        font-size: 36px;
    }
    .body{
        p{
            font-size: 18px;
        }
        ul{
            li{
                padding-bottom: 2px;
                font-size: 18px;
            }
        }
        .lists{
            margin-bottom: 30px;
        }
    }
}