@import "./1_variables";
@import "./0_mediaquery";

.displayImages{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 1em;
    position: relative;
    // width: 100%;
    .imgOverlay{
        position: absolute;
        bottom: 0;
        background: rgba($color: #000000, $alpha: .9);
        color: #f1f1f1;
        width: 100%;
        transition: 0.5 ease;
        opacity: 1;
        color: white;
        font-size: 20px;
        text-align: center;
        p{
            padding: 2px;
        }
    }
    @include maxwidth(mobile){
        display: block !important;
        .image{
            width: 350px;
        }
        .imgOverlay{
            width: 350px;
        }
    }
}
.displayImages:hover .imgOverlay{
    opacity: 1;
}

.accordionContainer{
    padding: 0 5em 1% 5em;
    .accordion{
        background-color: $primary;
        box-shadow: 2px 2px 2px 2px;
        // color: #000000;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        outline: none;
        font-size: 18px;
        font-family: 'Poppins';
        color: white;
        transition: 0.4s;
    }
    .accordion:hover{
        background-color: #5FD068;
    }
    @include maxwidth(mobile){
        padding: 0 1em 1em 1em;
    }
}

