@import "./1_variables";
@import "./0_mediaquery";

.footer{
    background-color: $primary;
    height: 350px;
    width: 100%;
    .row{
        padding: 2em;
        display: flex;
        flex-direction: row;
        h4{
            color: #F2EBE9;
            font-size: 20px;
        }
        .col2{
            margin: 0 0 0 100px;
            h4{
                text-decoration: underline;
                text-align: center;
                margin-bottom: -7px;
            }
            ul{
                li{
                    text-decoration: none;
                    color: #F2EBE9;
                    display: block;
                    margin-right: 10px;
                    padding: 4px;
                    cursor: pointer;
                    font-size: 20px;
                }
                li:hover{
                    text-decoration: underline;
                    color: $accent;
                }
            }            
        }
        .col3{
            margin: 0 0 0 100px;
            h4{
                text-decoration: underline;
            }
            p{
                font-size: 20px;
                color: #F2EBE9;
            }
            .fa-whatsapp-square{
                color: #fff;
                font-size: 46px;
            }
            .fa-facebook-square{
                color: #fff;
                font-size: 46px;
            }
            .fa-instagram-square{
                color: #fff;
                font-size: 46px;
            }
        }
        .floatingIcon{
            border: 1px solid #F2EBE9;
            border-radius: 50%;
        }
    }
    hr{
        margin: 0 2em 0 2em;
    }
    .bottom{
        p{
            text-align: center;
            color: #F2EBE9;
        }
    }
    @include maxwidth(mobile){
        height: 100vh;
        width: 100vw;
        .row{
            display: block !important;
            .col1{
                text-align: center;
            }
            .col2{
                text-align: center;
                margin: 0 !important;
            }
            .col3{
                text-align: center;
                margin: 0 !important;
            }
        }
        hr{
            opacity: 0;
        }
        .bottom{
            padding: 20px;
            p{
                padding: 10px;
            }
        }
    }
}