@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

hr{
    margin: 0 2em 0 2em;
}
h2{
    text-align: center;
    font-family: 'Joan', serif;
    font-weight: 900;
    font-size: 40px;
}
#p{
    text-align: center;
    margin: 0 65px 10px 65px;
}
.contact{
    .col1{
        margin: 20px;
        background: #EFEAD8;
    }
}