.navigation{
    background-image: linear-gradient(to right, #79DAE8 , #2155CD);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -5px;

    .right{
        margin: 0 0 0 5em;
    }
    .left{
        padding-right: 2em;
        margin: 5px 0 1em 1em;
        ul{
            li{
                text-decoration: none;
                display: inline;
                padding: 1em;
            }
        }
    }
}

.container{
    padding: 5px 2em 0 2em;
    margin-top: 15px;
    .categories{
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
    .content{
        border: 1px solid #D0C9C0;
        border-radius: 5%;
        width: 10vw;
        text-align: center;
    }
}