.navigation{
    background-image: linear-gradient(to right, #79DAE8 , #2155CD);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .right{
        margin: 0 0 0 5em;
    }
    .left{
        padding-right: 2em;
        margin: 5px 0 1em 1em;
        ul{
            li{
                text-decoration: none;
                display: inline;
                padding: 1em;
            }
        }
    }
}

.container{
    padding: 5em;
}