@import "../Styles/0_mediaquery";
@import "../Styles/1_variables";

.navigation{
    // background-image: linear-gradient(to right, $primary , $primary2);
    background: $primary;
    width: 100%;
    height: 80px;
    .left{
        // text-align: center;
        
        nav {
            width: 100%;
            // margin: 0 auto;
          }
          nav ul {
            list-style: none;
            text-align: center;
            padding-top: 20px;
            @include maxwidth(mobile){
              padding: 0 !important;
            }
          }
          nav ul li {
            display: inline-block;
          }
          nav ul li a {
            display: block;
            padding: 15px;
            text-decoration: none;
            color: #fff;
            font-weight: 800;
            text-transform: uppercase;
            margin: 0 10px;
          }
          nav ul li a,
          nav ul li a:after,
          nav ul li a:before {
            transition: all .5s;
          }
          nav ul li a:hover {
            color: #555;
        }
        nav.shift ul li a {
            position:relative;
            // z-index: 1;
          }
          nav.shift ul li a:hover {
            color: #f0eeea;
          }
          nav.shift ul li a:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 1px;
            content: '.';
            color: transparent;
            background: $accent;
            visibility: none;
            opacity: 0;
            z-index: -1;
          }
          nav.shift ul li a:hover:after {
            opacity: 1;
            visibility: visible;
            height: 100%;
          }
          
          
          
          /* Keyframes */
          @-webkit-keyframes fill {
            0% {
              width: 0%;
              height: 1px;
            }
            50% {
              width: 100%;
              height: 1px;
            }
            100% {
              width: 100%;
              height: 100%;
              background: #333;
            }
          }
          
          /* Keyframes */
          @-webkit-keyframes circle {
            0% {
              width: 1px;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              margin: auto;
              height: 1px;
              z-index: -1;
              background: #eee;
              border-radius: 100%;
            }
            100% {
              background: #aaa;
              height: 5000%;
              width: 5000%;
              z-index: -1;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              border-radius: 0;
            }
        }
          
                    
    }
}

.container{
    padding: 5px 2em 1em 2em;
    margin-top: 15px;
    .categories{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        // flex-direction: row;
        // gap: 1em;

        @include maxwidth(mobile){
          display: grid !important;
          grid-template-columns: repeat(2, 1fr);
        }
    }
    .content{
        border: 1px solid #D0C9C0;
        border-radius: 10px;
        width: 17vw;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        cursor: pointer;
        transition: background-color 1s ease-out 100ms;
        a{
          color: black;
          text-decoration: none;
          font-size: 17px;
          padding: 10px;
        }
        @include maxwidth(mobile){
          width: 37vw !important;
        }
    }
    .content:hover{
        background-color: $primary2;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: $accent;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.9);
      opacity: 0.9;
      z-index: 999;
      width: 20vw;
      span{
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-weight: 900;
        cursor: pointer;
      }
    }
    .dropdown-content span:hover{
      background-color: #ddd;
      color: black;
    }
    .buttons:hover .dropdown-content{
      display: block;
      margin-top: 11em;
      margin-left: 2em;
    }
}
.display-on-phone{
  display: none;
}

@include maxwidth(mobile){
  .hide-on-phone{
    display: none !important;
  }
  .display-on-phone{
    display: block !important;
    .phone-nav{
      background-color: $primary;
      width: 100%;
      height: auto;
      .menuIcon{
        color: white;
        cursor: pointer;
        margin-left: 19em;
      }
      ul{
        list-style: none;
        margin: 0 !important;
        text-align: justify;
        padding: 1em;
        li{
          text-transform: uppercase;
          font-size: 18px;
          color: white;
          border: 1px solid white;
          padding: 10px;
        }
        a{
          text-decoration: none;
          color: white;
        }
        li.hasDD{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          .arrowDown{
            margin-left: 7em;
          }
        }
        p{
          color: white;
          font-size: 18px;
          border: 1px solid white;
          padding: 10px;
          text-align: right;
          margin: 0 ;
        }
      }
    }
  }
}