.navigation{
    background-image: linear-gradient(to right, #D7A86E , #8E3200);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -5px;

    .right{
        margin: 0 0 0 5em;
    }
    .left{
        padding-right: 2em;
        margin: 5px 0 1em 1em;
        nav {
            width: 100%;
            margin: 0 auto;
          }
          nav ul {
            list-style: none;
            text-align: center;
          }
          nav ul li {
            display: inline-block;
          }
          nav ul li a {
            display: block;
            padding: 15px;
            text-decoration: none;
            color: #fff;
            font-weight: 800;
            text-transform: uppercase;
            margin: 0 10px;
          }
          nav ul li a,
          nav ul li a:after,
          nav ul li a:before {
            transition: all .5s;
          }
          nav ul li a:hover {
            color: #555;
        }
        nav.shift ul li a {
            position:relative;
            z-index: 1;
          }
          nav.shift ul li a:hover {
            color: #91640F;
          }
          nav.shift ul li a:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 1px;
            content: '.';
            color: transparent;
            background: #F1C40F;
            visibility: none;
            opacity: 0;
            z-index: -1;
          }
          nav.shift ul li a:hover:after {
            opacity: 1;
            visibility: visible;
            height: 100%;
          }
          
          
          
          /* Keyframes */
          @-webkit-keyframes fill {
            0% {
              width: 0%;
              height: 1px;
            }
            50% {
              width: 100%;
              height: 1px;
            }
            100% {
              width: 100%;
              height: 100%;
              background: #333;
            }
          }
          
          /* Keyframes */
          @-webkit-keyframes circle {
            0% {
              width: 1px;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              margin: auto;
              height: 1px;
              z-index: -1;
              background: #eee;
              border-radius: 100%;
            }
            100% {
              background: #aaa;
              height: 5000%;
              width: 5000%;
              z-index: -1;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              border-radius: 0;
            }
        }
          
                    
    }
}

.container{
    padding: 5px 2em 1em 2em;
    margin-top: 15px;
    .categories{
        display: flex;
        flex-direction: row;
        gap: 1em;
    }
    .content{
        border: 1px solid #D0C9C0;
        border-radius: 10px;
        width: 10vw;
        text-align: center;
        cursor: pointer;
        transition: background-color 1s ease-out 100ms
    }
    .content:hover{
        border: 1px solid #D0C9C0;
        border-radius: 10px;
        width: 10vw;
        text-align: center;
        cursor: pointer;
        background-color: #79DAE8;
    }
}