@import "../Styles/0_mediaquery.scss";
@import "../Styles/1_variables.scss";

.TopNav{
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .left{
        padding: 20px 0 0 3em;
    }
    hr{
        display: none;
    }
    .right{
        text-align: right;
        padding: 0 4em 1em 0;
    }
    .contact-info{
        padding-top: 20px;
        .fa-whatsapp-square{
            font-size: 28px;
            color: #5FD068;
            text-align: center;
        }
    }
    @include maxwidth(mobile){
        display: block !important;
        width: 100vw !important;
        .left{
            text-align: center;
            padding: 0 !important;
        }
        hr{
            display: block;
        }
        .right{
            padding: 0 !important;
            text-align: center;
            .contact-info{
                padding-bottom: 20px;
            }
        }
    }
}