.TopNav{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .left{
        margin-left: 3em;
    }
    .right{
        margin: 0 4em 1em 0;
    }
    .contact-info{
        .fa-whatsapp-square{
            font-size: 28px;
            color: #5FD068;
            text-align: center;
        }
    }
}