@import './Styles/0_mediaquery';
@import './Styles/Landing.scss';
@import './Styles/TopNav.scss';
@import './Styles/Navigation.scss';
@import './Styles/Cards.scss';
@import './Styles/AboutPage.scss';
@import './Styles/Services.scss';
@import './Styles/ContactUs.scss';

body{
    margin: 0;
}